= form_for @enenene do |f|
  -if @enenene.errors.any?
    #error_explanation
      %h2= "#{pluralize(@enenene.errors.count, "error")} prohibited this enenene from being saved:"
      %ul
        - @enenene.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
