!!! 5
%html
  %head
    %title alla.lipina
    = stylesheet_link_tag    "http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css"
    = stylesheet_link_tag    "lightbox"
    = stylesheet_link_tag    "application"
    = javascript_include_tag   "application"
    = javascript_include_tag   "prototype"
    = javascript_include_tag   "scriptaculous"
    = javascript_include_tag   "scriptaculous"
    = javascript_include_tag   "builder"
    = javascript_include_tag   "lightbox"
    = csrf_meta_tags
  %body
    .container.whitespace
      .row
        .header Alla Lipina
      .row
        .menu
          =link_to_unless_current "[works]", {:controller => 'home', :action => :index }
          -if current_page?({:controller => :home, :action => :about })
            [about
            %font.magnetta
              &
            contact]
          -else
            %a{:href=>url_for({:controller => :home, :action => :about })}
              [about
              %font.magnetta
                &
              contact]
      = yield